[Unit]
Description=Seq Logging Server Container
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/opt/seq/seq.sh start
ExecStop=/opt/seq/seq.sh stop
ExecReload=/opt/seq/seq.sh status
RemainAfterExit=true
User=seq
Group=seq
TimeoutStartSec=60
TimeoutStopSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
