[Unit]
Description=JSON Server on Port 3010
After=network.target

[Service]
ExecStart=/usr/bin/npx json-server /opt/json-server/db1.json --port 3010
Restart=always
User=jsonserver
Group=jsonserver
WorkingDirectory=/opt/json-server

[Install]
WantedBy=multi-user.target
   
