[Unit]
Description=JSON Server on Port 3012
After=network.target

[Service]
ExecStart=/usr/bin/npx json-server /opt/json-server/db3.json --port 3012
Restart=always
User=jsonserver
Group=jsonserver
WorkingDirectory=/opt/json-server

[Install]
WantedBy=multi-user.target
   
