[Unit]
Description=SQL Server Container
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/opt/mssql/mssql.sh start
ExecStop=/opt/mssql/mssql.sh stop
ExecReload=/opt/mssql/mssql.sh status
RemainAfterExit=true
User=mssql
Group=mssql
# Optional but recommended:
TimeoutStartSec=60
TimeoutStopSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
