[Unit]
Description=PostgreSQL Database Container
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/opt/pgsql/pgsql.sh start
ExecStop=/opt/pgsql/pgsql.sh stop
ExecReload=/opt/pgsql/pgsql.sh status
RemainAfterExit=true
User=pgsql
Group=pgsql
TimeoutStartSec=60
TimeoutStopSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
